.shopping-cart {
    position: fixed;
    top: 10px;
    right: 10px;
    width: fit-content;

}

.buy-items {
    position: absolute;
    right: -6px;
    top: -8px;
}

.main-row-quantity-input {
    height: 34px;
    width: 50px;
}

.cart-image {
    height: 30px;
	width: 30px;
}

.bunny-icon {
    width: 30px;
    height: 30px;
}